/*
:Author: Pablo Antonio
:Contact: pabloa@gmail.com
:Copyright: This stylesheet has been placed in the public domain.

:Modifications by: Mariano Simone
:Contact: marianosimone@gmail.com

Stylesheet for use with Docutils. Specially customized for my FAQ
on "Algoritmos y Programacion II".
*/

@import url(html4css1.css);

a.toc-backref {
	text-decoration: none;
	color: black;
}
pre.literal-block {
	background: #e3e3e3;
	padding: 10px;
	margin-left: 30px;
	margin-right: 30px;
}
h2 {
	background: #acffbc;
	padding: 2px;
}
h1 {
	background: #84d292;
	padding: 2px;
}

h1.title {
	background: #FFFFFF;
}

div.image {
	text-align: center;
}

div.contents {
	border: 1px solid #60c937;
	background: #ddffcf;
	/*font-weight: bold;*/
	padding: 5px;
	font-size: 95%;
	line-height: 20px;
}

tt.literal {
	background: white;
}

img {
	text-align: center;
}

